{% extends 'LineApp/p_inicio.html' %}
{% load static %}

    {% block titulo %}
    <title>Mi Estacionamiento</title>
    {% endblock titulo %}

    {% block content %}

    <!--SEGUNDA FILA DE CONTENIDO-->
    <div class="row sticky-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-75">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="container">
      <div class="row carta">
        {% for i in lista %}
        <!-- INICIO DE CARD -->
        <div class="col-md-3 col-12 main_card" style="margin-top: 25px;">
          <div class="card border-danger bg-dark text-white">
            <div class="card-body">
              <h5 class="card-title">{{ i.direccion }}</h5>
              <p class="card-text">Estacionamientos disponibles:{{ i.numero }}</p>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal{{ i.idEstacionamiento }}">Ver
                descripcion</button>

              <!-- MODAL / VER DESCRIPCION-->
              <!-- INICIO MODAL -->
              <div class="modal" id='modal{{ i.idEstacionamiento }}'>
                <div class="modal-dialog modal-xl">
                  <div class="modal-content bg-dark">
                    
                    <!-- CABEZA DEL MODAL -->
                    <div class="modal-header">
                      <div class="col-sm-3">
                      </div>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- CUERPO DEL MODAL -->
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-sm-12">
                          <h5 class="card-title">{{ i.direccion }}</h5>
                          <h6 class="text-white">{{ i.titular.username }}</h6>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <p class="card-text">Estacionamientos disponibles: {{ i.numero }}</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <a class="btn btn-danger" href="{% url 'arrendar' i.idEstacionamiento %}">Arrendar estacionamiento</a>
                        </div>
                      </div>
                    </div>
                    <!-- PIE DE MODAL -->

                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- FIN DE LA MODAL -->
              <!--ACA VA EL MODAL DEL MAPA-->

            </div>
          </div>
          <!-- fin card -->

        </div>

        {% endfor %}
      </div>
    </div>
    <!-- Fin Videos -->
  {% endblock content %}


    {% block script %}
    <script src="{% static 'LineApp/js/Info.js' %}"></script>
    <script src="{% static 'LineApp/js/mapas.js' %}"></script>
    {% endblock script %}